<div class="paragraph">
  <p></p>
  <p>International Financial Services (IFS) is an exciting, innovative and diverse business responsible for
    the growth of the Commonwealth Bank Group’s (CBA) businesses in emerging markets. Supported by the
    strength and security of the CBA Group, the IFS business employees approximately 3,200 people across
    five countries and two continents.<br><br>In 2016 we establised the Vietnam Center of Excellence. The
    Centre of Excellence (COE) represents a focus on delivering digital solutions and a HUB for application
    development across IFS, the CBA group and our international partnerships.<br><br>As a values-led
    organization, we live by accountability, collaboration, integrity, service and excellence and our
    vibrant leaders are approachable, energized and open to create an inspiring place where people thrive
    and talent excels.<br><br></p>
  <p></p>
</div>
<h3 class="panel-title">Our Key Skills</h3>
<ul class="employer-skills">
  <li class="employer-skills__item"><a target="_blank" href="/it-jobs/agile">Agile</a></li>
  <li class="employer-skills__item"><a target="_blank" href="/it-jobs/java">Java</a></li>
  <li class="employer-skills__item"><a target="_blank" href="/it-jobs/android">Android</a></li>
  <li class="employer-skills__item"><a target="_blank" href="/it-jobs/mobile-apps">Mobile Apps</a></li>
  <li class="employer-skills__item"><a target="_blank" href="/it-jobs/business-analyst">Business Analyst</a>
  </li>
  <li class="employer-skills__item"><a target="_blank" href="/it-jobs/.net">.NET</a></li>
</ul>
<div class="paragraph">
  <p>Our goal is simple. To be the #1 digital technology team in Vietnam. We pride ourselves on being
    cutting edge and stretching the limits of all our personnel - whether you are a mobile engineer, in
    quality assurance or a technical lead architect in our team.Our engineering teams form a cohesive,
    collaborative and motivated community that delivers innovative solutions to our businesses in Asia and
    Africa.</p>
</div>
