<div class="company-content">
  <div class="company-page">
    <!-- Headline Photo -->
    <!-- Last updated: "2018-11-06 00:19:25 +0700"-->
    <div class="cover-images-desktop cover-images-cropped">
      <img width="100%" alt="CBA Solutions Headline Photo"
           src="https://cdn.itviec.com/photos/23230/processed_headline_photo/cba-solutions-headline_photo.jpg?BqcevRh6Qfv6pT1VFrV7wXuJ">
    </div>
    <div class="headers hidden-xs">
      <div class="logo-container">
        <div class="has-overtime logo">
          <img alt="CBA Solutions Vietnam Big Logo"
               src="https://cdn.itviec.com/employers/cba-solutions/logo/w170/TwTsDF7Fz94oTDWd22YVCEgp/cba-solutions-logo.jpg">
        </div>
      </div>
      <div class="name-and-info">
        <h1 class="title">
          CBA Solutions
        </h1>
        <span>
          <i class="fa fa-map-marker"></i>
          District 1, Ho Chi Minh
        </span>
        <!-- Last updated: "2018-11-06 00:19:25 +0700"-->
        <div class="company-info">
          <span class="gear-icon">
          Product
          </span>
          <span class="group-icon">
          301-500
          </span>
          <div class="country">
            <i class="flag flag-au"></i>
            <span class="name">Australia</span>
          </div>
        </div>
        <div class="working-date">
          <i class="fa fa-calendar"></i>
          <span>
          Monday - Friday
          </span>
        </div>
        <div class="overtime">
          <i class="fa fa-clock-o"></i>
          <span>
          Extra salary for OT
          </span>
        </div>
      </div>
      <div class="headers-actions text-right">
        <a class="full-width button ibutton ibutton-red add-review-when-not-sign-in" rel="nofollow"
           data-add-review="true" data-toggle="modal" data-target="#sign-in-modal" href="">
          Add a review
        </a>

        <button data-employer-id="1372" data-employer-name="CBA Solutions" data-source="compage_top"
                data-subscribe-path="/subscribe" id="follow-btn"
                class="loadable ibutton ibutton-follow full-width">
          <span>
            Follow
          </span>
          <!----> <!---->
        </button>
      </div>
    </div>

    <div class="row company-container">
      <div class="col-md-8 col-left">
        <div id="employer-page-wrapper" style="height: 56px">
          <ul class="navigation">
            <li class="active navigation__item">
              <a href="/companies/cba-solutions">Overview</a>
              <!--<div class="corner-bottom-right-overlay"></div>-->
              <div class="corner-bottom-right-curve"></div>
            </li>
            <li class="navigation__item review-tab">
            <a href="/companies/cba-solutions/review">9 Reviews</a>
            <!--<div class="corner-bottom-right-overlay"></div>-->
            <!--<div class="corner-bottom-right-curve"></div>-->
            <!--<div class="corner-bottom-left-overlay"></div>-->
            <!--<div class="corner-bottom-left-curve"></div>-->
            </li>
            <li class="text social-icon navigation__item navigation__item--right hidden-sm hidden-xs">
              <a target="_blank" title="" rel="nofollow" href="https://www.facebook.com/commonwealthbank" data-original-title="Go to Facebook">
                <i class="fa fa-facebook-official fa-2x"></i>
              </a>
            </li>
            <li class="ionicon navigation__item navigation__item--right hidden-sm hidden-xs">
              <a target="_blank" title="" rel="nofollow" href="https://www.commbank.com.au/" class="ion-android-open" data-original-title="Go to website"></a>
            </li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title headline">
              CAN you help shape the future of banking - join our new digital hub.
            </h3>
          </div>
          <div class="panel-body">
            <div class="paragraph">
              <p></p><p>International Financial Services (IFS) is an exciting, innovative and diverse business responsible for the growth of the Commonwealth Bank Group’s (CBA) businesses in emerging markets. Supported by the strength and security of the CBA Group, the IFS business employees approximately 3,200 people across five countries and two continents.<br><br>In 2016 we establised the Vietnam Center of Excellence. The Centre of Excellence (COE) represents a focus on delivering digital solutions and a HUB for application development across IFS, the CBA group and our international partnerships.<br><br>As a values-led organization, we live by accountability, collaboration, integrity, service and excellence and our vibrant leaders are approachable, energized and open to create an inspiring place where people thrive and talent excels.<br><br></p><p></p>
            </div>
            <h3 class="panel-title">Our Key Skills</h3>
            <ul class="employer-skills">
              <li class="employer-skills__item"><a target="_blank" href="/it-jobs/agile">Agile</a></li>
              <li class="employer-skills__item"><a target="_blank" href="/it-jobs/java">Java</a></li>
              <li class="employer-skills__item"><a target="_blank" href="/it-jobs/android">Android</a></li>
              <li class="employer-skills__item"><a target="_blank" href="/it-jobs/mobile-apps">Mobile Apps</a></li>
              <li class="employer-skills__item"><a target="_blank" href="/it-jobs/business-analyst">Business Analyst</a></li>
              <li class="employer-skills__item"><a target="_blank" href="/it-jobs/.net">.NET</a></li>
            </ul>
            <div class="paragraph">
              <p>Our goal is simple. To be the #1 digital technology team in Vietnam.  We pride ourselves on being cutting edge and stretching the limits of all our personnel - whether you are a mobile engineer, in quality assurance or a technical lead architect in our team.Our engineering teams form a cohesive, collaborative and motivated community that delivers innovative solutions to our businesses in Asia and Africa.</p>
            </div>
          </div>
        </div>
        <!-- Jobs -->
        <div class="panel panel-default jobs">
          <div class="panel-heading">
            <h2 class="panel-title">Jobs</h2>
          </div>
        </div>
        <!-- Last Updated at: 2018-11-06 00:19:25 +0700 -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Why You'll Love Working Here</h3>
          </div>
          <div class="panel-body">
            <ul class="reasons numbered list">
              <li class="item">
                <span class="number">1</span>
                <span class="content paragraph">Excellent environment and team to help you grow.</span>
              </li>
              <li class="item">
                <span class="number">2</span>
                <span class="content paragraph">Competitive salary and learning culture</span>
              </li>
              <li class="item">
                <span class="number">3</span>
                <span class="content paragraph">Fortnightly and Monthly Fun Activities</span>
              </li>

            </ul>
            <!-- Slider Photos -->
            <div class="environment">
              <div class="content carousel slide" data-interval="false" id="slider-photos">
                <div class="carousel-inner">
                  <div class="active item">
                    <div class="img" data-slide-to="0" data-target="#job_description_photos">
                      <iframe width="100%" height="444"
                              src="https://www.youtube.com/embed/FfXU7ZW2s8g?enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer"
                              frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="profile-photos-desktop__caption">I am a Developer</div>
                  </div>
                  <div class="item">
                    <div class="img" data-slide-to="1" data-target="#job_description_photos"
                         style="background-image: url(https://cdn.itviec.com/photos/23542/profile_slideshow/profile_slideshow.jpg?YZPpChzj69re8bcD3K1b4u91)"></div>
                    <div class="profile-photos-desktop__caption">Our Team</div>
                  </div>
                  <div class="item">
                    <div class="img" data-slide-to="2" data-target="#job_description_photos"
                         style="background-image: url(https://cdn.itviec.com/photos/23543/profile_slideshow/profile_slideshow.jpg?jS8iYGK7TdhM7zY4jJK9CPa2)"></div>
                    <div class="profile-photos-desktop__caption">Grand Opening Ceremony in 2017</div>
                  </div>
                  <div class="item">
                    <div class="img" data-slide-to="3" data-target="#job_description_photos"
                         style="background-image: url(https://cdn.itviec.com/photos/23544/profile_slideshow/profile_slideshow.jpg?PEr7kuM5nWLRR3zVP7P8FyxY)"></div>
                    <div class="profile-photos-desktop__caption">We celebrate sucess</div>
                  </div>
                  <div class="item">
                    <div class="img" data-slide-to="4" data-target="#job_description_photos"
                         style="background-image: url(https://cdn.itviec.com/photos/23545/profile_slideshow/profile_slideshow.jpg?e5zdYU4RiZ86hcBLWTdch4bP)"></div>
                    <div class="profile-photos-desktop__caption">Our  modern office</div>
                  </div>

                </div>
                <div class="carousel__control-outer carousel__control-outer--left">
                  <a class="carousel__control" data-slide="prev" href="#slider-photos"><i class="fa fa-angle-left"></i>
                  </a></div>
                <div class="carousel__control-outer carousel__control-outer--right">
                  <a class="carousel__control" data-slide="next" href="#slider-photos"><i class="fa fa-angle-right"></i>
                  </a></div>
                <ol class="carousel-indicators">
                  <li class="active carousel-indicators__item" data-slide-to="0" data-target="#slider-photos">
                    <img height="50" src="https://img.youtube.com/vi/FfXU7ZW2s8g/0.jpg">
                  </li>
                  <li class="carousel-indicators__item" data-slide-to="1" data-target="#slider-photos">
                    <img height="50" src="https://cdn.itviec.com/photos/23542/thumb/thumb.jpg?YZPpChzj69re8bcD3K1b4u91">
                  </li>
                  <li class="carousel-indicators__item" data-slide-to="2" data-target="#slider-photos">
                    <img height="50" src="https://cdn.itviec.com/photos/23543/thumb/thumb.jpg?jS8iYGK7TdhM7zY4jJK9CPa2">
                  </li>
                  <li class="carousel-indicators__item" data-slide-to="3" data-target="#slider-photos">
                    <img height="50" src="https://cdn.itviec.com/photos/23544/thumb/thumb.jpg?PEr7kuM5nWLRR3zVP7P8FyxY">
                  </li>
                  <li class="carousel-indicators__item" data-slide-to="4" data-target="#slider-photos">
                    <img height="50" src="https://cdn.itviec.com/photos/23545/thumb/thumb.jpg?e5zdYU4RiZ86hcBLWTdch4bP">
                  </li>

                </ol>
              </div>
              <br>
            </div>
            <div class="paragraph">
              <p></p>
              <ul>
                <li>Excellent career opportunities - we focus on your development</li>
                <li>Values driven organisation</li>
                <li>International Workplace</li>
                <li>Overseas travel opportunities</li>
                <li>Continuing education - attendance at conferences and seminars</li>
                <li>Internal Hackathons</li>
                <li>Monthly social events</li>
              </ul>
              <p>At CBA Solutions opportunities are here for the taking. If want to be part of our purpose and live and
                lead through our values, we can offer exciting development opportunities through expanded lateral roles,
                stretch assignments or people leadership.</p>
              <p></p>
            </div>
          </div>
        </div>
        <!-- Our People -->
        <!-- Location -->
        <div class="panel panel-default" data-controller="employers--location"
             data-employers--location-key="AIzaSyAMccvlWFDk8E9b5Bk6YdPh1ZUht-JPcqU"
             data-employers--location-url="https://www.google.com/maps/embed/v1/place">
          <div class="panel-heading">
            <h3 class="panel-title">
              Location
            </h3>
          </div>
          <div class="panel-body location">
            <div class="row">
              <div class="col-md-3 col-xs-12 hidden-xs">
                <div class="full-address no-bold-text active" data-location="Landmark%2C+District+1%2C+Ho+Chi+Minh"
                     data-target="employers--location.place">
                  Landmark<br>District 1<br>Ho Chi Minh
                </div>
                <div class="map-address">
                  Landmark, District 1, Ho Chi Minh
                </div>
                <img class="triangle"
                     src="https://itviec.com/assets/left-arrow-3a3141fb7ccd0f375c3b92c8368f122a2aed47ae1b01c7bc38b4d246bb0dea96.png"
                     width="10" height="18" style="top: 74px;">
              </div>
              <div class="col-xs-12 visible-xs">
                <div class="full-address-mobile">
                  Landmark, District 1, Ho Chi Minh
                </div>
                <div class="map-address">
                  Landmark, District 1, Ho Chi Minh
                </div>
              </div>
              <div class="col-md-9 col-xs-12">
                <iframe allowfullscreen="" class="map" data-target="employers--location.map" frameborder="0"
                        height="100%"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAMccvlWFDk8E9b5Bk6YdPh1ZUht-JPcqU&amp;q=Landmark%2C+District+1%2C+Ho+Chi+Minh"
                        style="border:0" width="100%"></iframe>
                <div class="counter-page-view">
                  <p>Total views: 33,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-right">
        <div class="panel panel-default company-ratings">
          <div class="panel-heading">
            <h2 class="panel-title">Ratings</h2>
          </div>
          <div class="panel-body disable-user-select">
            <!-- Last updated: "2018-11-06 00:19:25 +0700"-->
            <span class="rating-stars-box">
<i class="default icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="default icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="default icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="default icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="default icon ion-ios-star {:size=>&quot;&quot;}"></i>
<span style="width: 88.0%;">
<i class="blue icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="blue icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="blue icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="blue icon ion-ios-star {:size=>&quot;&quot;}"></i>
<i class="blue icon ion-ios-star {:size=>&quot;&quot;}"></i>
</span>
</span>

            <span class="company-ratings__star-point">4.4</span>
            <hr class="divider">
            <table class="company-rating-info__chart-recommend clearfix">
              <tbody>
              <tr>
                <td class="chart" data-rate="88" id="company-rating__rate">
                  <canvas width="80" height="80"></canvas>
                  <strong>88%</strong>
                </td>
                <td class="recommend">Recommend working here to a friend</td>
              </tr>
              </tbody>
            </table>
            <hr class="divider">
            <div class="view-more">
              <a href="/companies/cba-solutions/review">See all ratings and reviews</a>
              <i class="fa fa-caret-right"></i>
            </div>

          </div>
        </div>
        <!-- Follow card -->

        <!-- Have you worked? -->
        <div class="panel panel-default company-ratings">
          <div class="panel-heading">
            <h3 class="panel-title">Feature Reviews</h3>
          </div>
          <div class="panel-body disable-user-select">
            <!-- Last updated: "2018-11-04 20:47:58 +0700"-->
            <div class="review featured">
              <a class="title" href="/companies/cba-solutions/review">''Great place to work with one of the best
                technology teams in VN ''</a>
              <span class="round-rate-rating-stars-box">
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
</span>

              <div class="paragraph">
                Office with great view Bach Dang river, work in high technology products and senior team-players
                Applied clear overtime policy of Vietnam Labor Law
              </div>
            </div>
            <div class="review featured">
              <hr>
              <a class="title" href="/companies/cba-solutions/review">''Nhân viên mới được cấp laptop xịn''</a>
              <span class="round-rate-rating-stars-box">
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack unchecked">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
</span>

              <div class="paragraph">
                Có góc nhìn đẹp, văn phòng rộng, thoải mái, nhiều thức uống, cafe
              </div>
            </div>
            <div class="review featured">
              <hr>
              <a class="title" href="/companies/cba-solutions/review">''Môi trường hoàn hảo để phát triển bản thân''</a>
              <span class="round-rate-rating-stars-box">
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack">
<i class="fa fa-square fa-stack-2x"></i>
<i class="ion-ios-star fa-stack-1x fa-inverse"></i>
</span>
</span>

              <div class="paragraph">
                Sếp hòa đồng, vui tính
                Tương tác trong công ty cao
                Nhiều hoạt động, phong trào học tập
                Văn phòng view đẹp
                Đồ uống miễn phí
                Đồng nghiệp nhiệt tình, đa phần đều có thái độ làm việc và thái độ học tập tốt, tạo cảm hứng cho bản thân mình noi theo
              </div>
            </div>

            <br>
            <a class="button ibutton full-width ibutton-red big add-review-when-not-sign-in" rel="nofollow"
               data-add-review="true" data-toggle="modal" data-target="#sign-in-modal" href="">Add a review</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
