.company-content {
  background: transparent;
  border: 0;
  padding: 0;
  border-radius: 5px;
  max-width: 1024px;
  margin: auto;
  position: relative;
  top: -49px;
  z-index: 4;
  overflow: visible;
}

.company-page {
  top: 48px;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 40px;
  font-size: 15px;
}

.cover-images-cropped {
  max-height: 500px;
  overflow: hidden;
}

.headers {
  min-height: 130px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 0 0 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 186px;
  flex: 0 1 186px;
  align-items: center;
}

.has-overtime {
  left: 19px;
  top: 10px !important;
}

.logo {
  width: 168px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  top: auto;
  position: relative;
  margin-bottom: -32px;
  margin-left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
}

.logo img {
  max-width: 100%;
  max-height: 152px;
  border: 0;
  vertical-align: middle;
}

.name-and-info {
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.title {
  color: #353535;
  line-height: 35.2px;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
}

.gear-icon {
  position: relative;
  padding-left: 25px;
}

.group-icon {
  position: relative;
  padding-left: 25px;
}

.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.working-date {
  padding: 7px 5px;
}

.overtime {
  padding: 0 4px;
}


.headers-actions {
  padding: 30px 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-right {
  text-align: right;
}

.ibutton {
  margin-bottom: 10px;
  text-decoration: none;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  display: inline-block;
  text-align: center;
  color: white;
}

.full-width {
  width: 100%;
}

.ibutton-red {
  color: white;
  border: 0;
  background-color: #EA1E30;
}

.ibutton-follow {
  border: 1px solid #9A9C9E;
  color: #9A9C9E;
  background-color: #ffffff;
  height: 40px;
  line-height: 36px;
  padding: 0;
}

.company-container {
  background: transparent;
}

.col-left {
  padding-right: 7.5px;
}

.navigation {
  padding: 0;
  margin: 20px 0 0;
  background: #f4f4f4;
  border: 1px solid #D8D8D8;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.active {
  background: white !important;
  position: relative;
  height: 63px !important;
  margin-bottom: -16px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #d3d3d3;
  top: -9px;
}

.navigation__item {
  min-height: 55px;
  white-space: nowrap;
  list-style-type: none;
  display: inline-block;
  padding: 15px 40px;
  background: #f4f4f4;
  float: left;
  position: relative;
  min-height: 55px;
}

.navigation__item :active {
  background-color: #fff3cd !important;
}

.corner-bottom-right-overlay {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -10px;
  bottom: -3px;
  background: white;
  z-index: 1;
}

.corner-bottom-right-curve {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -10px;
  bottom: -3px;
  background: #f4f4f4;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.corner-bottom-left-overlay {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  background: white;
  z-index: 1;
}

.corner-bottom-left-curve {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -10px;
  bottom: -3px;
  background: #f4f4f4;
  z-index: 1;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.navigation__item :first-child {
  border-left: 0;
}

.social-icon {
  padding: 9.5px;
}

.navigation__item--right {
  float: right !important;
}

.ion-icon {
  padding: 8px 10px;
  line-height: 1em;
}

.panel {
  top: 10px;
  margin-bottom: 15px;
  background-color: white !important;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-heading {
  background: white;
  border: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-title {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  color: #3d3d3d;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.headline {
  margin-top: 15px;
  margin-bottom: -15px;
  font-size: 30px;
  line-height: 34px;
}

