.first-group {
  clear: both;
  box-sizing: border-box;
}

.search {
  margin-top: -77px;
}

.main-content {
  position: relative;
  z-index: 4;
  margin: auto;
  overflow: visible;
  padding: 0;
  max-width: 1024px;
  background-color: white;

}

.search-jobs {
  margin-top: -160px;
  position: relative;
}

.right {
  float: right;
}

.side-content {
  overflow: hidden;
  background: white;
  width: 266px;
}

.jobs {
  max-width: 755px;
  display: inline-block;
  background: white;
}


.inside {
  padding: 0px;
  margin: 17px 10px 10px 0;
  text-align: center;
  position: relative;
}

.photos {
  background-color: #F4F4F4;
  position: relative;
}

.headline-photo {
  height: 125px;
}

.logo {
  position: absolute;
  top: 90px;
  width: 100%;
}

.info {
  padding: 42px 6px 20px 6px;
  font-size: 15px;
  color: rgba(58,58,58,0.89);
}

.name {
  color: #221F20;
  font-weight: 500;
  font-size: 17px;
}

.city {
  display: block;
  color: #727272;
  font-size: 14px;
}

.border-around {
  border: 2px solid #eeeeee;
  border-top: none;
}

.other-jobs {
  padding: 2px 0 15px 0;
}

.job {
  font-size: 15px;
  padding: 20px 0px;
  margin: 0px 15px;
  border-bottom: 1px solid #eeeeee;
}
