<app-search-box></app-search-box>
<div class="search main-content search-jobs">
  <div class="right side-content stickybar hidden-xs hidden-sm" id="right_side" style="">
    <h3>Company Spotlight</h3>
    <div class="inside">
      <!-- Last updated: "2018-11-04 08:56:12 +0700"-->
      <div class="photos">
        <div class="headline-photo">
          <img alt="FPT Software Headline Photo"
               src="https://cdn.itviec.com/photos/34213/tiny_headline_photo/fpt-software-tiny_headline_photo.jpg?Wkp27XPyWBftwsVKhkwRv3bb"
               width="256" height="125">

        </div>
        <div class="logo">
          <img
            src="https://cdn.itviec.com/employers/fpt-software/logo/s65/3reFYvb7XKV1a8g4aKiDDke8/fpt-software-logo.png"
            width="68" height="68">
        </div>
        <div class="info">
<span class="name">
FPT Software
</span>
          <span class="city">
Ho Chi Minh
</span>
          <p>The leading provider of software outsourcing services in Vietnam</p>
        </div>
        <a class="mkt-track link" rel="nofollow" data-method="PUT"
           href="/companies/fpt-software?track_action=Click+Branding"></a>
      </div>
      <div class="border-around">
        <div class="jobs">
          <div class="job">
            <a href="/it-jobs/java-solution-architect-onsite-us-fpt-software-3543">Java Solution Architect – Onsite
              US</a>
          </div>
          <div class="job">
            <a href="/it-jobs/senior-java-developers-fpt-software-5205">Sr. Java Developers- signing bonus ~ 20M</a>
          </div>
          <div class="job">
            <a href="/it-jobs/10-senior-net-developers-up-to-1700-fpt-software-2734">10 Senior .NET Developers - Up to
              $1700</a>
          </div>
        </div>
        <div class="other-jobs">
          <a href="/companies/fpt-software#our-jobs">View 5 jobs</a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12 jobs">
    <h1 class="text-center">
      Results:
    </h1>
    <div class="first-group">
      <app-job-content [job]="job"></app-job-content>
      <app-job-content [job]="job"></app-job-content>
      <app-job-content [job]="job"></app-job-content>
      <app-job-content [job]="job"></app-job-content>
    </div>
  </div>
</div>
