<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left" style="align-items: center">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h2>Xin chào bạn!</h2>
      <p>Chào mừng đến với JobJob!</p>
      <button routerLink="/login" class="btn-switch-login">
          Đăng nhập
      </button>
      <br/>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-pane show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <h1  class="register-heading">Đăng ký</h1>
        <div class="register-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="User name *" value="" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email *" value="" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password *" value="" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
          </div>
          <div class="form-group">
            <select class="form-control">
              <option class="hidden"  selected disabled>Please select the role you are</option>
              <option>Developer</option>
              <option>Product Owner</option>
              <option>Human Resource Manager</option>
            </select>
          </div>
          <input type="submit" class="btn-register"  value="Đăng ký"/>
        </div>
      </div>
    </div>
  </div>
</div>
