<app-search-box></app-search-box>
<div class="top-companies">
  <div class="title">
    Top Companies:
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
  </div>
</div>



<div class="top-companies">
  <div class="title">
    Top Projects:
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="top-company" role="button">
        <div class="top-company_logo text-center">
          <div class="placeholder">
            <img src="../../../assets/images/demo-companies/evolable-asia-logo.png">
          </div>
        </div>
        <div class="top-company_name text-center">
          Aasljdalsjd
        </div>
        <footer class="top-company_footer text-center">
            <span class="top-company_footer-jobs">
              <span class="red link">
                asjdasd
              </span>
              <span>&nbsp;-&nbsp;</span>
            </span>
          <span class="top-company_footer-city">
              asdasaaaa
            </span>
        </footer>
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
