.top-companies {
  max-width: 1024px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title {
  color: #353535;
  line-height: 35px;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-company {
  width: 100%;
  color: #333;
  border: 1px solid #D8D8D8;
  background: white;
  display: block;
  margin-top: 30px;
  padding: 20px;
  text-decoration: none;
}

.top-company_logo {
  width: 170px;
  height: 170px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 170px;
}

.top-company_name {
  margin-top: 10px;
  font-size: 20px;
  height: 56px;
}

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.top-company_footer {
  margin-top: 20px;
}

.top-company_footer-jobs {
  font-size: 16px;
}

.top-company_footer-city {

}

.red {
  color: #EA2635;
}

.link {
  color: #ea2635;
  text-decoration: none;
  border-bottom: 1px dotted #ea2635;
  outline: none
}

