.page-header {
  top: 0;
  right: 0;
  left: 0;
  background-color: #3680d1;
  height: auto;
  border-bottom: none !important;
  padding-top: 20px;
  transition: all 0.3s;
  z-index: 13;
  margin-top: 0 !important;
}


.ilabel {
  color: white;
  padding: 8px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.slogan {
  color: #fff;
  margin: 50px auto 0;
  font-size: 34px;
  margin: auto;
  max-width: 1024px;
  margin-top: 30px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  height: auto;
  border-bottom: 1px solid transparent;
}
.page-header__tag-list {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 70px;
}
