.page-header {
  top: 0;
  right: 0;
  left: 0;
  background-color: #3680d1;
  height: auto;
  border-bottom: none !important;
  transition: all 0.3s;
  z-index: 13;
  margin-bottom: 0 !important;
}

.page-header__inner {
  background: #0062cc;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border-width: 0 0 1px;
}

.page-menu {
  max-width: 1024px;
  margin: 0 auto;
  border: 0;
  background-color: transparent;
  min-height: 60px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.page-menu-header {
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  float: left;
}

.page-menu-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.page-menu-logo {
  padding-top: 10px;
  height: 40px;
  margin-top: 0;
  display: block;
  margin-left: 0 !important;
  margin-top: 10px;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.page-menu-body {
  border-color: #e7e7e7;
  margin-right: 0;
  margin-left: 0;
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  position: static;
  width: 100%;
  left: 15px;
  z-index: 100;
  background-color: transparent;
  width: auto;
  border-top: 0;
  box-shadow: none;
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  -webkit-overflow-scrolling: touch;
}

.page-menu-item-list {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 60px;
  float: right !important;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.page-menu-item {
  z-index: 11516;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.428571429;
  line-height: 40px;
  box-sizing: border-box;
  list-style: none;
}

.page-menu-item-title {
  color: #ffffff !important;
  transition: all 0.3s;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.slogan {
  color: #fff;
  margin: 50px auto 0;
  font-size: 34px;
  margin: auto;
  max-width: 1024px;
  margin-top: 30px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  height: auto;
  border-bottom: 1px solid transparent;
}


.search-form-wrapper {
  margin-bottom: 50px;
  max-width: 1024px;
  margin: 50px auto 50px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-section-wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.search-text-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  background: white;
  border: 1px solid #bebebe;
}

.ion-ios-search {
  align-items: center;
  font-size: 20px;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.search-field-wrapper {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  float: left;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search-text {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: inherit;
  outline: none;
  background: none;
  display: block;
  width: 100%;
  height: 100%;
  color: #808184;
  font: 400 18px Arial;
  line-height: 30px;
  margin-top: 1px;
  height: 100%;
  line-height: 30px;
  font-size: 18px;
  margin-top: 1px;
  width: 457px;
  color: #6D6D6D;
  font-family: "Roboto", sans-serif;
}

.city-section-wrapper {
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 185px;
  flex: 0 0 185px;
  margin-left: 10px;
}

.city-select-wrapper {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  height: 60px;
  vertical-align: middle;
  border: 1px solid #bebebe;
  background-color: white;
}

.ion-ios-location-outline {
  font-size: 18px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 60px;
  width: auto;
}

.city-field-wrapper {
  width: 100%;
  height: 100%;
}

.city-select-option {
  position: relative;
  width: 100%;
  height: 100%;
}
.city-select-option-button {
  font: 400 18px Arial;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.search-button-wrapper {
  width: 135px;
  height: 60px;
  font-size: 20px;
  border-radius: 0;
}

.search-button {
  width: 135px;
  height: 60px;
  font-size: 20px;
  border-radius: 0;
  margin-left: 10px;
}

.button-red:hover
{    background-color: #D82727;}

.ilabel {
  color: white;
  padding: 8px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.slogan {
  color: #fff;
  margin: 50px auto 0;
  font-size: 34px;
  margin: auto;
  max-width: 1024px;
  margin-top: 30px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  height: auto;
  border-bottom: 1px solid transparent;
}
