<!-- Bootstrap Core CSS -->
<link href="../../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../../../../assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../../../../assets/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../../../../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="page-header">
  <div class="page-header__inner">
    <nav class="page-menu default-navbar">
      <div class="container-fluid">
        <div class="page-menu-header">
          <button class="page-menu-toggle" data-target="#pageMenuToggle" data-toggle="collapse" type="button">
            <div class="pageMenu__toggleContent">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
          </button>
          <a class="page-menu-logo" routerLink="/home">
            <img class="logo-itviec" alt="itviec" src="../../../../assets/images/jobjob-logo.png" width="108"
                 height="42">
          </a>

        </div>
        <div class="page-menu-body collapse" id="pageMenuToggle">
          <ul class="page-menu-item-list pageMenu__itemList--right pageMenu__not_signed_in">
            <li class="dropdown hidden-xs notification-login-trigger">
              <a aria-expanded="false" class="pageMenu__link--saved dropdown-toggle" data-toggle="dropdown" href="#"
                 role="button">
                <div class="saved pageMenu__bell">
                  <div class="pageMenu__alert-jr invisible">
                    <span class="half-space">1</span>
                  </div>
                </div>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-menu__item--desktop">
                  <a class="dropdown-menu__link--desktop sign-in-link" href="#">
                    <span class="dropdown-menu__icon">
                      <div class="dropdown-menu__icon-info"></div>
                    </span>
                    <span class="wrappable not-login-notification-text">Get your new job -- sign up now!</span>
                  </a>
                </li>
              </ul>

            </li>
            <li class="page-menu-item">
              <a class="page-menu-item-title" role="button" routerLink="/it-jobs">All Jobs</a>
            </li>
            <li class="page-menu-item">
              <a class="page-menu-item-title" role="button" routerLink="/companies">Company Reviews</a>
            </li>
            <li class="page-menu-item">
              <a class="page-menu-item-title" role="button">Project</a>
            </li>
            <li class="page-menu-item hidden-xs">
              <a class="page-menu-item-title" role="button" routerLink="/login">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
