<div id="footer">
  <div class="content">
    <div class="tags hidden-xs">
      <div class="col-sm-3">
        <h3 class="no-margin job-list-title">Jobs by Skill</h3>
        <ul>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/java">Java</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/php">PHP</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/.net">.NET</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/tester">Tester</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/android">Android</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/ios">iOS</a></li>
        </ul>
        <a class="link-primary link-primary--underlined" href="/jobs-skill-index">View all Jobs by Skill
        </a></div>
      <!-- Titles -->
      <div class="col-sm-3">
        <h3 class="no-margin job-list-title">Jobs by Title</h3>
        <ul>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/senior-java-developer">Senior Java Developer</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/system-engineer">System Engineer</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/project-manager">Project Manager</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/software-architect">Software Architect</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/qa-qc-manager">QA QC Manager</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/mobile-developer">Mobile Developer</a></li>
          <li class="tag"><a class="skill-tag__link" href="/top-20-highest-salary-java-developer-jobs?utm_campaign=seo_landing_page&amp;utm_medium=footer&amp;utm_source=home_all_job">Top highest salary java job</a></li>
        </ul>
        <a class="link-primary link-primary--underlined" href="/jobs-title-index">View all Jobs by Title
        </a></div>
      <!-- Companies -->
      <div class="col-sm-3">
        <h3 class="no-margin job-list-title">Jobs by Company</h3>
        <ul>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/companies/cba-solutions">CBA Solutions</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/companies/sendo-vn">Sendo.vn</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/companies/aswhite-vietnam">ASWHITE VIETNAM</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/companies/fpt-software">FPT Software</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/companies/ngan-hang-a-chau-acb">Ngân Hàng Á Châu | ACB</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/companies/vinid-member-of-vingroup">VinID (Member of VinGroup)</a></li>
        </ul>
        <a class="link-primary link-primary--underlined" href="/jobs-company-index">View all Jobs by Company
        </a></div>
      <!-- Cities -->
      <div class="col-sm-3">
        <h3 class="no-margin job-list-title">Jobs by City</h3>
        <ul>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/ho-chi-minh-hcm">Ho Chi Minh</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/ha-noi">Ha Noi</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/da-nang">Da Nang</a></li>
          <li class="tag"><a class="mkt-track skill-tag__link" href="/it-jobs/others">Others</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="bottom">
      <div class="footer-contact hidden-xs">
        <div class="footer-link">
          Want to post a job? Contact us at Ho Chi Minh: (+84) 977 460 519 - Ha Noi: (+84) 964 618 859 - Email: love@itviec.com
        </div>
      </div>
      <div class="footer-links hidden-xs">
        <div class="col-md-3 footer-links__col">
          <a class="footer-link" href="/">Home</a>
          <a class="footer-link" href="/it-jobs">All Jobs</a>
          <a target="_blank" class="footer-link" href="https://itviec.com/blog/about-us/">About Us</a>
          <a target="_blank" class="footer-link" href="https://itviec.com/blog/quy-che-hoat-dong-cua-itviec/">Operating Regulation</a>
        </div>
        <div class="col-md-3 footer-links__col">
          <a target="_blank" class="footer-link" href="https://itviec.com/blog/chinh-sach-bao-mat/">Privacy Policy</a>
          <a target="_blank" class="footer-link" href="https://itviec.com/blog/terms-and-conditions/">Term &amp; Conditions</a>
          <a target="_blank" class="footer-link" href="https://itviec.com/blog/chinh-sach-giai-quyet-khieu-nai/">Complaint Handling Policy</a>
          <span class="footer-link">Copyright © IT VIEC JSC</span>
        </div>
        <div class="col-md-6 footer-links__col">
          <span class="footer-link">Address: 60 Nguyen Van Thu, Dakao ward, Dist.1 HCMC</span>
          <span class="footer-link">Tax code: 0312192258</span>
          <span class="footer-link">Phone: 028.66811397</span>
          <div class="follow hidden-xs">
            <div class="social_icons">
              <a target="_blank" class="tw-icon" rel="nofollow" href="https://twitter.com/itviec"></a>
              <a target="_blank" class="fb-icon" rel="nofollow" href="https://www.facebook.com/ITviec"></a>
              <a target="_blank" class="in-icon" rel="nofollow" href="https://www.linkedin.com/company/3093114"></a>
              <a target="_blank" rel="publisher" class="gp-icon" href="https://plus.google.com/105500862993414828044"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-links visible-xs">
        <a class="footer-link" href="/">Home</a>
        <a class="footer-link" href="/it-jobs">All Jobs</a>
        <a target="_blank" class="footer-link" href="https://itviec.com/blog/about-us/">About Us</a>
        <a target="_blank" class="footer-link" href="https://itviec.com/blog/chinh-sach-bao-mat/">Privacy Policy</a>
        <a target="_blank" class="footer-link" href="https://itviec.com/blog/terms-and-conditions/">Term &amp; Conditions</a>
        <a target="_blank" class="footer-link" href="https://itviec.com/blog/quy-che-hoat-dong-cua-itviec/">Operating Regulation</a>
        <span class="footer-link">Copyright © IT VIEC JSC</span>
        <span class="footer-link">Tax code: 0312192258</span>
        <span class="footer-link">Phone: 028.66811397</span>
        <a target="_blank" class="footer-link" href="https://itviec.com/blog/chinh-sach-giai-quyet-khieu-nai/">Complaint Handling Policy</a>
        <span class="footer-link">Address: 60 Nguyen Van Thu, Dakao ward, Dist.1 HCMC</span>
      </div>
    </div>
  </div>
</div>
