
<div class="container login">
  <div class="row">
    <div class="col-md-3 login-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h2>Xin chào bạn!</h2>
      <p>Chào mừng đến với JobJob!</p>
      <button class="btn-switch-register" routerLink = "/register">
          Đăng ký
      </button>
      <br/>
    </div>
    <div class="col-md-9 login-right">
      <form [formGroup] = "loginForm" (ngSubmit)= "onSubmit()">
        //<div class="tab-pane  show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h1  class="login-heading">Đăng nhập</h1>
          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username"  placeholder="User name" value="" />
              <!--<input type="text" class="form-control" formControlName="username" [ngClass] = "{'is-valid': submitted && f.username.errors}"  placeholder="User name" value="" />-->
              <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">-->
                <!--<div *ngIf="f.username.errors.required">Username is required</div>-->
              <!--</div>-->
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" formControlName="password" />
              <!--<input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass] = "{'is-valid': submitted && f.password.errors}"/>-->
              <!--<div class="invalid-feedback">-->
                <!--<div *ngIf="f.password.errors.required">Password is required</div>-->
              <!--</div>-->
            </div>
            <a  class="form-group" href="#">Quên mật khẩu?</a>
            <input type="submit" class="btn-login"  [disabled]="loading"  value="Đăng nhập"/>
          </div>
        //</div>
      </form>
    </div>
  </div>
</div>
