<div class="job-content">
  <div class="logo">
    <!-- Last updated: "2018-11-02 14:02:44 +0700"-->
    <div class="logo-wrapper" title="" data-original-title="Simpson Strong-tie Vietnam is a 100% foreign invested company">
      <a target="_blank" href="/companies/simpson-strong-tie-vietnam"><img alt="Simpson Strong-tie Vietnam Vietnam Small Logo" src={{job.imageSource}} width="65" height="65">
      </a>
    </div>
    <div class="clearfix">

    </div>
  </div>
  <div class="job-description">
    <div class="job-body">
      <div class="details">
        <h2 class="title">
          <a target="_blank" href="/it-jobs/qa-test-analyst-manual-automation-simpson-strong-tie-vietnam-0017">QA Test Analyst (Manual/Automation)</a>
        </h2>
        <div class="salary not-signed-in">
          <span class="salary-icon-stack">
            <i class="fa fa-usd"></i>
          </span>
        <a class="view-salary" >Sign in to view     </a>
        <i class="fa fa-caret-right address-arrow"></i>
      </div>


        <div class="hidden-xs">

        </div>
        <div class="description hidden-xs">
          As one of our customer services, the new Component Solutions™ Director™ and Truss Studio™ software has been designed from the ground up to provide easy...
        </div>
        <div class="visible-xs">
          <div class="city">
            <div class="text">Ho Chi Minh</div><div class="text">Others</div>
          </div>

        </div>
      </div>
    </div>
    <div class="job-bottom">
      <div class="tag-list">
        <a class="job__skill ilabel mkt-track" href="/it-jobs/qa-qc"><span>
QA QC
</span>
        </a><a class="job__skill ilabel mkt-track" href="/it-jobs/c++"><span>
C++
</span>
      </a><a class="job__skill ilabel mkt-track" href="/it-jobs/.net"><span>
.NET
</span>
      </a>
      </div>
    </div>
  </div>
  <div class="city-and-posted-date hidden-xs">
    <div class="feature new text" title="" data-original-title="This job is urgent. Apply today!">Hot Job</div>
    <div class="city">
      <div class="address">
        <div class="text">
          Ho Chi Minh
        </div>
        <div class="text other-address">
          Others
        </div>
      </div>
    </div>
    <div class="distance-time-job-posted">
<span class="distance-time highlight">
4 minutes ago
</span>
    </div>
  </div>
</div>
