.job-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  position: relative;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
  overflow: hidden;
  font-weight: 400;
  padding: 27px 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-bottom: -2px;
}

.logo {
  margin: 4px 30px 0 25px;
  background-color: white;
}

.logo-wrapper {

}

.clearfix :before {
  content: " ";
  display: table;
}

.clearfix :after {
  clear: both;
}

.job-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  padding-left: 15px;
}

.job-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details {
  font-size: 13px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.title a{
  color: #231f20;
  text-decoration: none;
}

.salary {
  display: inline-block;
  margin: 0;
  width: 210px;
  font-size: 14px;
  color: #68ba50;
  margin-bottom: 10px;
}

.not-signed-in {
  color: gray;
}
.salary-icon-stack {
  position: absolute;
}

.view-salary {
  color: gray;
  cursor: pointer;
  font-size: 13px;
  border-bottom: 1px dashed;
  font-weight: 500;
  display: inline;
  position: relative;
  top: 2px;
  margin-left: 21px;
}

.address-arrow {
  font-size: 12px;
  margin-left: -2px;
  color: gray;
  position: relative;
  top: 3px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.description {
  margin-top: 10px;
  margin-right: 40px;
  color: #727272;
  text-align: justify;
  overflow: hidden;
  width: 100%;
  line-height: 1.3em;
}

.job-bottom {
  margin-top: 12px;
  width: 100%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 20px;
}

.tag-list {
  margin: 0;
  display: inline-block;
}

.ilabel {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 10px 0 0;
  padding: 4px 5px;
  background: transparent;
  border: 1px solid #D2D3D3;
  color: #575656;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  line-height: 100%;
  display: inline-block;
}

.city-and-posted-date {
  font-size: 13px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 100px;
  font-family: "Roboto Condensed", sans-serif;
}

.new {
  padding: 2px 10px;
  min-width: 45px;
  color: white;
  background: #68696b;
  text-align: center;
  display: inline-block;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.text {
  color: #a6a8ab !important;
  display: block !important;
}

.distance-time-job-posted {
  font-size: 13px;
}

.distance-time {
  color: #06c;
}
