.page-header {
  top: 0;
  right: 0;
  left: 0;
  background-color: #3680d1;
  height: auto;
  border-bottom: none !important;
  padding-top: 60px;
  transition: all 0.3s;
  z-index: 13;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.slogan {
  color: #fff;
  margin: 50px auto 0;
  font-size: 34px;
  margin: auto;
  max-width: 1024px;
  margin-top: 30px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  height: auto;
  border-bottom: 1px solid transparent;
}


.search-form-wrapper {
  margin-bottom: 50px;
  max-width: 1024px;
  margin: 50px auto 50px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-section-wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.search-text-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  background: white;
  border: 1px solid #bebebe;
}

.suggestion-tags {
  overflow: visible;
  height: fit-content;
  box-shadow: none;
  position: absolute;
  width: 457px;
  top: auto;
  left: auto;
  z-index: 9999999;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  overflow: hidden;
}

.suggestion-tag {
  width: 100%;
  line-height: 30px;
  font-size: 18px;
  padding-top: 1px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border-top: 1px solid #ebebeb;
}

.suggestion-tags :hover {
  background-color: #1ab7ea;
}

.suggestion-tag :hover {
  background-color: #1ab7ea;
}

.suggestion-tag a{
  height: 100%;
  width: 100%;
  color: #6D6D6D;
  text-decoration: none;
}

.ion-ios-search {
  align-items: center;
  font-size: 20px;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.search-field-wrapper {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  float: left;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search-text {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  outline: none;
  background: none;
  display: block;
  font: 400 18px Arial;
  line-height: 30px;
  height: 100%;
  font-size: 18px;
  width: 457px;
  color: #6D6D6D;
  font-family: "Roboto", sans-serif;
}

.city-section-wrapper {
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 185px;
  flex: 0 0 185px;
  margin-left: 10px;
}

.city-select-wrapper {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  height: 60px;
  vertical-align: middle;
  border: 1px solid #bebebe;
  background-color: white;
}

.ion-ios-location-outline {
  font-size: 18px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 60px;
  width: auto;
}

.city-field-wrapper {
  width: 100%;
  height: 100%;
}

.city-select-option {
  position: relative;
  width: 100%;
  height: 100%;
}
.city-select-option-button {
  font: 400 18px Arial;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.search-button-wrapper {
  width: 135px;
  height: 60px;
  font-size: 20px;
  border-radius: 0;
}

.search-button {
  width: 135px;
  height: 60px;
  font-size: 20px;
  border-radius: 0;
  margin-left: 10px;
}

.button-red:hover
{    background-color: #D82727;}

.ilabel {
  color: white;
  padding: 8px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.slogan {
  color: #fff;
  margin: 50px auto 0;
  font-size: 34px;
  margin: auto;
  max-width: 1024px;
  margin-top: 30px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  height: auto;
  border-bottom: 1px solid transparent;
}
