<div class="page-header">
  <h1 class="slogan">
    1,412 IT Jobs For Chất Developers
  </h1>
  <div class="search-form-wrapper clearfix">
    <form id="search_form" class="search-form" action="/it-jobs" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <div class="search-section-wrapper no-header">
        <div class="search-text-wrapper">
          <div class="ion-ios-search ">
            <i class="fa fa-search"></i>
          </div>
          <div>
            <input type="text" (focus)="textFocused()" (blur)="textBlured()" class="search-text" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}" placeholder="Key words (skills, job title or companies,...)" (keyup)="keyUpHandler()">
            <div class="suggestion-tags" *ngIf="showSuggestion()" (focus)="suggestionFocused()" (blur)="suggestionBlured()">
              <div class="suggestion-tag" role="button" routerLink="/it-jobs/{{tag}}" *ngFor="let tag of suggestionTags">
                <a role="button" href="https://www.facebook.com/" routerLink = "/it-jobs/{{tag}}">{{tag}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="city-section-wrapper">
        <div class="city-select-wrapper">
          <div class="ion-ios-location-outline">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="city-select-option">
            <select class="city-select-option-button">
              <option value="">
                City
              </option>
              <option value="da-nang">
                Da Nang
              </option>
              <option value="ha-noi">
                Ha Noi
              </option>
              <option value="ho-chi-minh-city">
                Ho Chi Minh City
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="search-button-wrapper">
        <input type="submit" name="commit" value="Search" class="search-button button-red left" data-disable-with="Search" routerLink="/it-jobs">
      </div>
    </form>
  </div>
  <app-trending-tags-box></app-trending-tags-box>
</div>
